

/* Smooth Fade Animation */
section{
    animation:fadeIn 1s ease-in-out;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Button Animation */
.btn,
button{
    transition:0.3s ease;
}

.btn:hover,
button:hover{
    transform:scale(1.08);
    background:#00c6ff;
    color:#fff;
    box-shadow:0 0 20px #00c6ff;
}

/* Project Card Glow Effect */
.card{
    transition:0.4s ease;
}

.card:hover{
    transform:translateY(-10px) scale(1.03);
    background:#4facfe;
    box-shadow:0 0 25px #4facfe;
}
